body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: black; 
}

#blogList {
    list-style: none;
}

li {
    margin-bottom: 20px;
    padding: 20px;
    border-top: 2px solid black;

}

a:hover {
    background-color: #003972;
    color: #ffffff;
}
#link {
    margin-left: 40%;
}
